.infoSection {
    margin-top: 1em;
}

.infoElement {
    margin-top: 1em;  
    margin-bottom: 1em; 
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}