@media all and (min-width: 480px) {
    .Login {
      width: 70%;
      margin: 10% auto;
      padding: 60px 0;
      /* background-color: #F6F680; */
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login a {
      color: #429EA6;
    }
}



