@media all and (min-width: 700px) {
    .userProfile {
      padding: 60px;
      
      display: flex;
      flex-direction: column; 
      align-items: center; 
        
      color: white; 
    }

    .ageSelect {
        display: flex;
        flex-direction: row; 
    }

}
