body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .Footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid red;
  color: white;
  text-align: center;
} */

.infoTextColor {
  color: #5bc0de;
}

.small{
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9); /* IE 9 */
  -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
  -o-transform: scale(0.9, 0.9); /* Opera */
  -moz-transform: scale(0.9, 0.9); /* Firefox */
}

.about{
  margin: 5% auto;
  width: 70% ;
  background-color: #E5ECF4;
  border-radius: 3mm;
  padding: 10px;
}

.aboutImages {
  padding: 10px;
}

.aboutCaption figcaption{
  font-size: medium;
  color: red;
}