.appsContainer2{
    margin: auto;
    width: 50%;
}

.AdminAppContainer{
    /* align-content: center; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: table;
    /* padding: 0;  */
}

.appsCard{
    background-color: #E5ECF4;
}

.appsSearch{
    border-radius: 3mm;
    border-color:transparent;
    background-color: #F6F680;
    padding: 20px 20px 10px 20px;
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;

}

.searchButton{
    display: inline;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
}
  .img-center{
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
  }
  .center .card {
    width: 30%;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 5px 8px 16px -10px rgba(0,0,0,0.4);
    border-radius: 5mm;
    overflow:hidden;
    position: relative;
    margin: 1.5rem;
    float: left;
  }
  
  .center .card h1 {
    text-align: center;
  }
  
  .center .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .center .card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .center .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .center .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .center .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  /* .center .card .additional .user-card .level,
  .center .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  } */
  
  .center .card .additional .user-card .points {
    top: 85%;
  }
  
  .center .card .additional .user-card svg {
    top: 50%;
  }
  
  .center .card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
    align-content: center;
  }

  .center .card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
    margin-left: -5%;
  }
  
  .center .card.green .additional .more-info h1 {
    color: #224C36;
    margin-left: -5%;
  }
  
  .center .card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
    float: left;
    text-align: left;
  }
  
  .center .card.green .additional .coords {
    color: #325C46;
  }
  
  .center .card .additional .coords span + span {
    float: right;
  }
  
  .center .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  
  .center .card.green .additional .stats {
    color: #325C46;
  }
  
  .center .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .center .card .additional .stats i {
    display: block;
  }
  
  .center .card .additional .stats div.title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .center .card .additional .stats div.value {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    color:cyan;
  }
  
  .center .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    padding-left: 10%;
    align-content: center;
  }
  .center .card .general p {
    text-align: left;
  }
  
  .center .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }

  .multi-button {
    position: relative;
    top: 70%;
    
  }
  .a-r-btn {
    border: 0px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  .accept-button{
    background-color: #4CAF50;
    color: white;
  }
  .accept-button:hover {
    /* width: 90%; */
    border-radius: 5mm;
    background-color: #378339;
    border-color: #4CAF50;
  }

  .reject-button{
    background: #f44336;
    color: white;
  }
  .reject-button:hover{
    border-radius: 5mm;
    /* width: 90%; */
    border-color: #f44336;
    background: #c9372c;
  }
  
  .ques-btn{
    background: #36f4d4;
    color: rgb(0, 0, 0);
    margin-left: -10px;
  }
  .ques-btn:hover{
    border-radius: 5mm;
    /* width: 90%; */
    border-color: #36f4d4;
    background: #219c88;
  }

  