.appsContainer2{
    margin: auto;
    width: 50%;
}

.AdminAppContainer{
    /* align-content: center; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: table;
    /* padding: 0;  */
}

.appsCard{
    background-color: #E5ECF4;
}

.appsSearch{
    border-radius: 3mm;
    border-color:transparent;
    background-color: #F6F680;
    padding: 20px 20px 10px 20px;
    width: 100%;
    margin: 0 auto;
    float: none;

}

