.intro{
    padding-bottom: 10px;
}

.introCarousel{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 50px;
}

.introText{
    text-align: center;
}

.introText h1{
    font-size: 64pt;
}

.introText h2{
    font-size: 32pt;
}

.introText h3{
    font-size: 24pt;
}

.hero-image{
    background-image: radial-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.226)), url("./Pets-Banner-Final-4.png");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
button{
    margin-left: 13px;
    margin-right: 13px;
}