.intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-bottom: 10px;
    padding-top: 15px;
}

.introCarousel{
}

.introText{
    text-align: left;
}

.introText h1{
    font-size: 64pt;
}

.introText h2{
    font-size: 32pt;
}

.introText h3{
    font-size: 24pt;
}