@media all and (min-width: 700px) {
    .petPosting {
      padding: 60px 0;
      padding-bottom: 100px;
      width: 90%;
    }
  
    .petPosting form {
      margin: 0 auto;
      height: 100%;
    }
}
