@media all and (min-width: 700px) {
    .petPosting {
      padding: 60px 0;
      display: flex;
      border: 1px blue solid;
      justify-content: center;
    }
  
    .petPosting form {
      margin: 0 auto;
      height: 100%;
    }
}
